html,
body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
/* font-family: "Anonymous Pro", monospace; */
img {
	max-width: 100%;
}
h1,
p {
	margin: 0;
	padding: 0;
}
.colum-grid {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	align-items: center;
	height: 100vh;
}

.image-col img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.currency-list-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	margin-top: 60px;
}
.content-col {
	padding: 60px;
	box-sizing: border-box;
}
.heading h1 {
	font-size: 60px;
	font-weight: 900;
	color: 111827;
}
.heading h1 span {
	color: #3482ff;
}
.heading p {
	font-size: 22px;
	color: #1f2937;
	margin-top: 10px;
}
.conver-input {
	margin-top: 50px;
	display: inline-block;
	position: relative;
}
.conver-input input {
	width: 80%;
	height: 55px;
	font-size: 30px;
	font-weight: 700;
	background-color: #f3faff;
	border: 1px solid #bfdeff;
	border-radius: 35px 0 0 35px;
	padding: 10px 20px;
	text-align: center;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}
.conver-input input:focus-visible {
	outline: none;
}
.conver-input input:focus {
	outline: none;
}
.conver-input button {
	height: 55px;
	font-size: 20px;
	font-weight: 700;
	background-color: #da0000;
	color: #fff;
	border: none;
	border-radius: 0 35px 35px 0;
	font-family: inherit;
	padding: 0px 30px 23px 30px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	margin-left: -10px;
	line-height: 53px;
	display: inline-block;
	position: absolute;
	right: -51px;
	top: 0;
}
.conver-input p {
	color: #4b5563;
	margin-top: 15px;
}
.single-box p {
	font-size: 22px;
	color: #374151;
	font-weight: 600;
	margin-bottom: 15px;
}
.single-box span {
	width: 100%;
	height: 150px;
	background-color: #f9fcff;
	display: inline-block;
	line-height: 150px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 2px 10px 1px #d5e5ff;
	font-size: 25px;
	font-weight: 700;
	color: #374151;
}
.single-box #bdt,
#cad,
#nkk {
	color: #ffa600;
}
#lastAmmount {
	color: #1f2937;
	font-weight: 600;
	font-size: 18px;
}
p #error {
	color: red;
}
@media (max-width: 575.98px) {
	.colum-grid {
		grid-template-columns: 1fr;
		height: auto;
	}

	.currency-list-box {
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	.content-col {
		padding: 30px;
	}
	.heading h1 {
		font-size: 35px;
	}
	.heading p {
		font-size: 18px;
	}
	.conver-input input {
		width: 75%;
		font-size: 22px;
	}
	.conver-input button {
		right: -30px;
	}
	.single-box p {
		font-size: 19px;
	}
	.single-box span {
		height: 130px;
		line-height: 130px;
		font-size: 22px;
	}
}
